<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MEGAsync.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mega.mac.MEGAsyncHelper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>775DEC5422C62B6D00CD9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775DEC6F22C62D3D00CD9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775DEC7A22C62D9D00CD9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775DEC8522C62E5C00CD9E03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
