[Desktop Entry]
Type=Application
Version=1.0
GenericName=File Synchronizer
Name=MEGAsync
Comment=Easy automated syncing between your computers and your MEGA cloud drive.
TryExec=megasync
Exec=megasync
Icon=mega
Terminal=false
Categories=Network;System;
StartupNotify=false
X-GNOME-Autostart-Delay=60

