*
{
font-family: Lato;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
}

/*
    QTableView
*/
QTableView
{
outline: 0;
border-radius: 5px;
}

QTableView::item
{
border: none;
padding-left: 4px;
}

QTableView::indicator
{
height: 16px;
width: 16px;
border-style: none;
}

/*
    QScrollBar
*/
QScrollBar:vertical
{
width: 10px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
border-style: none;
}

QScrollBar::handle:vertical
{
border-style: none;
border-radius: 5px;
}

/*
    QHeaderView
*/
QHeaderView
{
padding-top: 2px;
padding-right: 0px;
}

QHeaderView::section
{
border-top: 0px;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
padding-left: 6px;
}

QHeaderView::section:last
{
border-right: 0px;
}

QHeaderView::up-arrow
{
subcontrol-origin: padding;
subcontrol-position: center right;
padding-right: 6px;
}

QHeaderView::down-arrow
{
subcontrol-origin: padding;
subcontrol-position: center right;
padding-right: 6px;
}


/*
    QComboBox
*/
QComboBox[type="mega"][dimension=small]
{
height: 18px;
}

QComboBox[type="mega"][dimension=medium]
{
height: 36px;
}

QComboBox[type="mega"]
{
border-width: 2px;
border-style: solid;
border-radius: 6px;
padding: 4px 5px 4px 8px;
}

QComboBox::on[type="mega"]
{
padding: 1px 1px 1px 5px;
}

QComboBox::drop-down[type="mega"]
{
subcontrol-origin: padding;
subcontrol-position: top right;
padding-right: 8px;
width: 15px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

QComboBox[type="mega"] QAbstractItemView
{
border-radius: 6px;
padding: 5 5 5 5px;
}

/*
    QRadioButton
*/
QRadioButton
{
spacing: 0;
}

QRadioButton::indicator
{
margin-right: 6px;
}

/*
    QGroupBox
*/
QGroupBox[type="mega"]
{
margin-top: 20px;
font-weight: bold;
border-width: 1px;
border-style: solid;
border-radius: 12px;
}

QGroupBox::title[type="mega"]
{
subcontrol-origin: margin;
subcontrol-position: top left;
padding: 0 0 0 10px;
}


/*
    QProgressBar
*/
QProgressBar
{
border-style: none;
border-radius: 4px;
max-height: 8px;
}

QProgressBar::chunk
{
border-radius: 4px;
}

/*
    QCheckBox
*/
QCheckBox[type="mega"]
{
spacing: 8px;
min-height: 16px;
max-height: 16px;
}

QCheckBox::indicator[type="mega"]
{
height: 16px;
width: 16px;
border-style: none;
}

/*
    QLabel
*/
QLabel
{
font-size: 12px;
font-weight: 400;
}

QLabel[type="sub-title"]
{
font-size: 14px;
font-weight: 600;
}

QLabel[type="title"]
{
font-size: 16px;
font-weight: 600;
}

QLabel[dimension="small"]
{
font-size: 10px;
}

QLabel[semibold]
{
font-weight: 600;
}

/*
    Buttons Sizes
*/
QPushButton[dimension=small], QPushButton[dimension=medium], QPushButton[dimension=large]
{
padding-top: 0px;
padding-bottom: 0px;
font-weight: 600;
}

QPushButton[dimension=small]
{
border-radius: 6px;
height: 26px;
min-width: 44px; /*min width = 44px + padding-left(8px) + padding-righ(8px) = 60px*/
font-size: 12px;
padding-left: 8px;
padding-right: 8px;
}

QPushButton[dimension=medium]
{
border-radius: 6px;
height: 36px;
min-width: 48px; /*min width = 48px + padding-left(16px) + padding-righ(16px) = 80px*/
font-size: 14px;
padding-left: 16px;
padding-right: 16px;
}

QPushButton[dimension=large]
{
border-radius: 8px;
height: 46px;
min-width: 52px; /*min width = 52px + padding-left(24px) + padding-righ(24px) = 100px*/
font-size: 16px;
padding-left: 24px;
padding-right: 24px;
}

/*
    Icon label / Icon button
*/
QPushButton[type="icon-label"], QPushButton[type="icon-button"]
{
border: none;
border-radius: 6px;
margin:0px;
padding:0px;
min-width: 0px;
}

/*
    Icon label dimensions
*/
QPushButton[type="icon-label"][dimension=small]
{
height: 24px;
width: 24px;
qproperty-iconSize:16px;
}

QPushButton[type="icon-label"][dimension=medium]
{
height: 32px;
width: 32px;
qproperty-iconSize:24px;
}

/*
    Outline button.
*/
QPushButton[type="outline"]
{
border-width: 2px;
border-style: solid;
}

/*
    Primary button.
*/
QPushButton[type = "primary"], QPushButton[type = "secondary"], QPushButton[type = "icon"]
{
border:none;
}

/*
    QLineEdit
*/
QLineEdit[type="mega"], QTextEdit[type="mega"]
{
padding-right: 10px;
padding-left: 10px;
border-radius: 8px;
border-style: solid;
border-width: 1px;
height: 26px;
}

/*
    QSpinBox
*/
QSpinBox
{
border-radius: 8px;
border-style: solid;
border-width: 1px;
height: 25px;
padding-left: 5px;
}

QSpinBox::up-arrow
{
subcontrol-origin: padding;
subcontrol-position: top right;
padding-right: 4px;
padding-top: 4px;
}

QSpinBox::down-arrow
{
subcontrol-origin: padding;
subcontrol-position: bottom right;
padding-right: 4px;
padding-bottom: 4px;
}

/*
    WordWrapLabel
*/
WordWrapLabel[type="primary"]
{
font-weight: 600;
}

WordWrapLabel[type="secondary"]
{
font-weight: 400;
}

WordWrapLabel[dimension="small"]
{
font-size: 10px;
}

WordWrapLabel[dimension="medium"]
{
font-size: 12px;
}

/*
    SwitchButton
    In the constructor of the class we assign the object name switch
*/
#switch
{
border-style: none;
}

#switch::indicator
{
border-style: none;
width: 40px;
height: 19px;
}
/*
    QMenu
*/
QMenu.MegaMenu
{
border-radius: 8px;
border: 1px solid;
padding: 4px;
}
QMenu.MegaMenu::separator
{
height: 1px
}
