*
{
font-family: Lato;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
}

QWidget
{
background-color: #FFFFFFFF; /*colorToken.page-background*/
color: #ff303233; /*colorToken.text-primary*/
}

QWidget[type="notification"]
{
background-color: #ffdff4fe;/*colorToken.notification-info*/
}

QWidget[type="notification"][error="true"]
{
background-color: #ffffe4e8;/*colorToken.notification-error*/
}

/*
    QTableView
*/
QTableView
{
background-color: transparent;
outline: 0;
border: 1px solid #ff18191A; /*colorToken.page-background*/
border-radius: 5px;
selection-color: #ffFAFAFB; /*colorToken.text-inverse-accent*/
selection-background-color: transparent;
}

QTableView::item
{
border: none;
padding-left: 4px;
}

QTableView::item::selected
{
color: #ffFAFAFB; /*colorToken.text-inverse-accent*/
background-color: transparent;
}

QTableView::indicator
{
height: 16px;
width: 16px;
border-style: none;
}

QTableView::indicator:checked
{
image: url(:/images/themed/light/checkbox_on.svg); /*replaceThemeToken*/
}

QTableView::indicator:checked:hover
{
image: url(:/images/themed/light/checkbox_on_hover.svg); /*replaceThemeToken*/
}

QTableView::indicator:checked:pressed
{
image: url(:/images/themed/light/checkbox_on_pressed.svg); /*replaceThemeToken*/
}

QTableView::indicator:checked:disabled
{
image: url(:/images/themed/light/checkbox_on_disabled.svg); /*replaceThemeToken*/
}

QTableView::indicator:unchecked
{
image: url(:/images/themed/light/checkbox_off.svg); /*replaceThemeToken*/
}

QTableView::indicator:unchecked:hover
{
image: url(:/images/themed/light/checkbox_off_hover.svg); /*replaceThemeToken*/
}

QTableView::indicator:unchecked:pressed
{
image: url(:/images/themed/light/checkbox_off_pressed.svg); /*replaceThemeToken*/
}

QTableView::indicator:unchecked:disabled
{
image: url(:/images/themed/light/checkbox_off_disabled.svg); /*replaceThemeToken*/
}

/*
    QScrollBar
*/
QScrollBar:vertical
{
width: 10px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
border-style: none;
}

QScrollBar::handle:vertical
{
border-style: none;
border-radius: 5px;
background: #ff04101e; /*colorToken.selection-control*/
}

/*
    QHeaderView
*/
QHeaderView
{
background: #FF18191A; /*colorToken.page-background*/
padding-top: 2px;
padding-right: 15px;
}

QHeaderView::section
{
background: #FF18191A; /*colorToken.page-background*/
color: #FFF3F4F4; /*colorToken.text-primary*/
border-top: 0px;
border-bottom: 0px;
border-left: 0px;
border-right: 0px ;
}

QHeaderView::section:last
{
border-right: 0px;
}

QHeaderView::up-arrow
{
subcontrol-origin: padding;
subcontrol-position: center right;
image: url(:/images/themed/light/spinbox_up_arrow.svg); /*replaceThemeToken*/
padding-right: 5px;
}

QHeaderView::down-arrow
{
subcontrol-origin: padding;
subcontrol-position: center right;
image: url(:/images/themed/light/spinbox_down_arrow.svg); /*replaceThemeToken*/
padding-right: 5px;
}


/*
    QComboBox
*/
QComboBox[type="mega"][dimension=small]
{
height: 18px;
}

QComboBox[type="mega"][dimension=medium]
{
height: 36px;
}

QComboBox::item:selected[type="mega"]
{
background-color: #fff3f4f4; /*colorToken.surface-2*/
}

QComboBox::item[type="mega"]
{
background-color: #fffafafa; /*colorToken.surface-1*/;
}

QComboBox[type="mega"]
{
background-color: #ffFFFFFF; /*colorToken.page-background*/
color: #ff333333; /*colorToken.text-primary*/
border-color: #ff04101E; /*colorToken.button-outline*/
border-width: 2px;
border-style: solid;
border-radius: 6px;
padding: 4px 5px 4px 8px;
}

QComboBox:disabled[type="mega"]
{
color: #ff797c80; /*colorToken.text-disabled*/
border-color: #ff797c80; /*colorToken.button-disabled*/
}

QComboBox::on[type="mega"]
{
padding: 1px 1px 1px 5px;
}

QComboBox::drop-down[type="mega"]
{
image: url(:/images/themed/light/chevron-down_default.svg); /*replaceThemeToken*/
subcontrol-origin: padding;
subcontrol-position: top right;
padding-right: 8px;
width: 15px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

QComboBox::drop-down:disabled[type="mega"]
{
image: url(:/images/themed/light/chevron-down_disabled.svg); /*replaceThemeToken*/
}

QComboBox::drop-down:hover[type="mega"]
{
image: url(:/images/themed/light/chevron-down_hover.svg); /*replaceThemeToken*/
}

QComboBox::drop-down:pressed[type="mega"]
{
image: url(:/images/themed/light/chevron-down_press.svg); /*replaceThemeToken*/
}

QComboBox[type="mega"] QAbstractItemView
{
border: 2px solid #ff04101E; /*colorToken.button-outline*/
border-radius: 6px;
background-color:  #fffafafa; /*colorToken.surface-1*/
padding: 5 5 5 5px;
}

/*
    QRadioButton
*/
QRadioButton
{
color: #ff303233; /*colorToken.text-primary*/
background-color: transparent;
spacing: 0;
}

QRadioButton:disabled
{
color: #ff797c80; /*colorToken.icon-disabled*/
}

QRadioButton::indicator
{
margin-right: 6px;
}

QRadioButton::indicator::unchecked
{
image: url(:/images/themed/light/radio_unchecked.svg); /*replaceThemeToken*/
}

QRadioButton::indicator:unchecked:hover
{
image: url(:/images/themed/light/radio_unchecked_hover.svg); /*replaceThemeToken*/
}

QRadioButton::indicator:unchecked:pressed
{
image: url(:/images/themed/light/radio_unchecked_pressed.svg); /*replaceThemeToken*/
}

QRadioButton::indicator:unchecked:disabled
{
image: url(:/images/themed/light/radio_unchecked_disabled.svg); /*replaceThemeToken*/
}

QRadioButton::indicator::checked
{
image: url(:/images/themed/light/radio_checked.svg); /*replaceThemeToken*/
}

QRadioButton::indicator:checked:hover
{
image: url(:/images/themed/light/radio_checked_hover.svg); /*replaceThemeToken*/
}

QRadioButton::indicator:checked:pressed
{
image: url(:/images/themed/light/radio_checked_pressed.svg); /*replaceThemeToken*/
}

QRadioButton::indicator:checked:disabled
{
image: url(:/images/themed/light/radio_checked_disabled.svg); /*replaceThemeToken*/
}

/*
    QGroupBox
*/
QGroupBox[type="mega"]
{
margin-top: 20px;
font-weight: bold;
background-color: transparent;
border-width: 1px;
border-style: solid;
border-radius: 12px;
border-color: #ffd8d9db; /*colorToken.border-strong*/
}

QGroupBox::title[type="mega"]
{
color: #ff04101E; /*colorToken.text-accent*/
subcontrol-origin: margin;
subcontrol-position: top left;
padding: 0 0 0 10px;
}

QGroupBox::title:disabled[type="mega"]
{
color: #ff797c80; /*colorToken.text-disabled*/
}

/*
    QProgressBar
*/
QProgressBar
{
/* TODO: surface-2 should be replaced by --color-indicator-background */
border-style: none;
border-radius: 4px;
background-color: #fff3f4f4; /*colorToken.surface-2*/
max-height: 8px;
}

QProgressBar::chunk
{
background-color: #ff09bf5b; /*colorToken.indicator-green*/
border-radius: 4px;
}

/*
    QCheckBox
*/
QCheckBox[type="mega"]
{
background-color: transparent;
spacing: 8px;
min-height: 16px;
max-height: 16px;
}

QCheckBox[type="mega"][error="true"]
{
color: #ffe31b57; /*colorToken.text-error*/
}

QCheckBox:disabled[type="mega"]
{
color: #ff797c80; /*colorToken.icon-disabled*/
}

QCheckBox::indicator[type="mega"]
{
height: 16px;
width: 16px;
border-style: none;
}

QCheckBox::indicator:checked[type="mega"]
{
image: url(:/images/themed/light/checkbox_on.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked:hover[type="mega"]
{
image: url(:/images/themed/light/checkbox_on_hover.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked:pressed[type="mega"]
{
image: url(:/images/themed/light/checkbox_on_pressed.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked:disabled[type="mega"]
{
image: url(:/images/themed/light/checkbox_on_disabled.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked[type="mega"]
{
image: url(:/images/themed/light/checkbox_off.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked:hover[type="mega"]
{
image: url(:/images/themed/light/checkbox_off_hover.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked:pressed[type="mega"]
{
image: url(:/images/themed/light/checkbox_off_pressed.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked:disabled[type="mega"]
{
image: url(:/images/themed/light/checkbox_off_disabled.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_on_error.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked:hover[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_on_error.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked:pressed[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_on_error.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:checked:disabled[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_on_disabled.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_off_error.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked:hover[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_off_error.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked:pressed[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_off_error.svg); /*replaceThemeToken*/
}

QCheckBox::indicator:unchecked:disabled[type="mega"][error="true"]
{
image: url(:/images/themed/light/checkbox_off_disabled.svg); /*replaceThemeToken*/
}

/*
    QLabel
*/
QLabel
{
font-size: 12px;
font-weight: 400;
background-color: transparent;
color: #ff303233; /*colorToken.text-primary*/
}

QLabel[type="sub-title"]
{
font-size: 14px;
font-weight: 600;
}

QLabel[type="title"]
{
font-size: 16px;
font-weight: 600;
}

QLabel[type="secondary"]
{
font-size: 12px;
font-weight: 400;
color: #ff616366; /*colorToken.text-secondary*/
}

QLabel[semibold]
{
font-weight: 600;
}

QLabel[type="notification"]
{
background-color: #ffdff4fe;/*colorToken.notification-info*/
color: #ff0078a4; /*colorToken.text-info*/
}

QLabel[type="notification"][error="true"]
{
background-color: #ffffe4e8;/*colorToken.notification-error*/
color: #ffe31b57; /*colorToken.text-error*/
}

QLabel:disabled
{
color: #ff797c80; /*colorToken.icon-disabled*/
}

/*
    Outline button.
*/
QPushButton[type="outline"]
{
border-width: 2px;
border-style: solid;
font-weight: 600;

background-color: transparent;
color: #ff04101E; /*colorToken.button-outline*/
border-color: #ff04101E; /*colorToken.button-outline*/
}

QPushButton[type="outline"][dimension=small]
{
border-radius: 6px;
font-size: 12px;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

QPushButton[type="outline"][dimension=medium]
{
border-radius: 6px;
font-size: 14px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 8px;
}

QPushButton[type="outline"][dimension=large]
{
border-radius: 8px;
font-size: 16px;
padding-left: 24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
}

QPushButton:hover[type="outline"]
{
color: #ff39424E; /*colorToken.button-outline-hover*/
border-color: #ff39424E; /*colorToken.button-outline-hover*/
}

QPushButton:pressed[type="outline"]
{
color: #ff535B65; /*colorToken.button-outline-pressed*/
border-color: #ff535B65; /*colorToken.button-outline-pressed*/
}

QPushButton:disabled[type="outline"]
{
color: #ffC1C2C4; /*colorToken.text-disabled*/
border-color: #ff494a4d; /*colorToken.border-disabled*/
}

/*
    Primary button.
*/
QPushButton[type="primary"]
{
border-width: 2px;
border-style: solid;
font-weight: 600;

background-color: #ff04101E; /*colorToken.button-primary*/
color: #ffFAFAFB; /*colorToken.text-inverse-accent*/
border-color: #ff04101E; /*colorToken.button-primary*/
}

QPushButton[type="primary"][dimension=small]
{
border-radius: 6px;
font-size: 12px;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

QPushButton[type="primary"][dimension=medium]
{
border-radius: 6px;
font-size: 14px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 8px;
}

QPushButton[type="primary"][dimension=large]
{
border-radius: 8px;
font-size: 16px;
padding-left: 24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
}

QPushButton:hover[type="primary"]
{
color: #ffFAFAFB; /*colorToken.text-inverse-accent*/
background-color: #ff39424E; /*colorToken.button-primary-hover*/
border-color: #ff39424E; /*colorToken.button-primary-hover*/
}

QPushButton:pressed[type="primary"]
{
color: #ffFAFAFB; /*colorToken.text-inverse-accent*/
background-color: #ff535B65; /*colorToken.button-primary-pressed*/
border-color: #ff535B65; /*colorToken.button-primary-pressed*/
}

QPushButton:disabled[type="primary"]
{
color: #ffC1C2C4; /*colorToken.text-disabled*/
background-color: #ff797c80; /*colorToken.button-disabled*/
border-color: transparent;
}

/*
    Secondary button.
*/
QPushButton[type="secondary"]
{
border-width: 2px;
border-style: solid;
font-weight: 600;

background-color: #ff04101E; /*colorToken.button-secondary*/
color: #ffFAFAFB; /*colorToken.text-secondary*/
border-color: #ff04101E; /*colorToken.button-secondary*/
}

QPushButton[type="secondary"][dimension=small]
{
border-radius: 6px;
font-size: 12px;
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
}

QPushButton[type="secondary"][dimension=medium]
{
border-radius: 6px;
font-size: 14px;
padding-left: 16px;
padding-right: 16px;
padding-top: 8px;
padding-bottom: 8px;
}

QPushButton[type="secondary"][dimension=large]
{
border-radius: 8px;
font-size: 16px;
padding-left: 24px;
padding-right: 24px;
padding-top: 12px;
padding-bottom: 12px;
}

QPushButton:hover[type="secondary"]
{
background-color: #ff39424E; /*colorToken.button-secondary-hover*/
border-color: #ff39424E; /*colorToken.button-secondary-hover*/
}

QPushButton:pressed[type="secondary"]
{
background-color: #ff535B65; /*colorToken.button-secondary-pressed*/
border-color: #ff535B65; /*colorToken.button-secondary-pressed*/
}

QPushButton:disabled[type="secondary"]
{
color: #ffC1C2C4; /*colorToken.text-disabled*/
background-color: #ff797c80; /*colorToken.button-disabled*/
border-color: transparent;
}

/*
    QLineEdit
*/
QLineEdit[type="mega"], QTextEdit[type="mega"]
{
background-color: #ffFFFFFF; /*colorToken.page-background*/
padding-right: 10px;
padding-left: 10px;
border-radius: 8px;
border-color: #ffd8d9db; /*colorToken.border-strong*/
color: #ff303233; /*colorToken.text-primary*/
border-style: solid;
border-width: 1px;
height: 26px;
}

QLineEdit:focus[type="mega"], QTextEdit:focus[type="mega"]
{
border-color: #ff04101e; /*colorToken.border-strong-selected*/
}

QLineEdit:disabled[type="mega"], QTextEdit:disabled[type="mega"]
{
color: #ff797c80; /*colorToken.text-disabled*/
border-color: #ff797c80; /*colorToken.border-disabled*/
}

QLineEdit[type="mega"][error="true"], QTextEdit[type="mega"][error="true"]
{
border-color: #ffe31b57; /*colorToken.text-error*/
}

/*
    QSpinBox
*/
QSpinBox
{
border-radius: 8px;
border-color: #ffd8d9db; /*colorToken.border-strong*/
color: #ff303233; /*colorToken.text-primary*/
border-style: solid;
border-width: 1px;
background-color: #ffFFFFFF; /*colorToken.page-background*/
height: 25px;
padding-left: 5px;
}

QSpinBox:focus
{
border-color: #ff04101e; /*colorToken.border-strong-selected*/
}

QSpinBox:disabled
{
color: #ff797c80; /*colorToken.text-disabled*/
border-color: #ff797c80; /*colorToken.border-disabled*/
}

QSpinBox::up-arrow
{
image: url(:/images/themed/light/spinbox_up_arrow.svg); /*replaceThemeToken*/
subcontrol-origin: padding;
subcontrol-position: top right;
padding-right: 4px;
padding-top: 4px;
}

QSpinBox::down-arrow
{
image: url(:/images/themed/light/spinbox_down_arrow.svg); /*replaceThemeToken*/
subcontrol-origin: padding;
subcontrol-position: bottom right;
padding-right: 4px;
padding-bottom: 4px;
}

QSpinBox::down-button
{
background-color: transparent;
}

QSpinBox::up-button
{
background-color: transparent;
}

/*
    SwitchButton
    In the constructor of the class we assign the object name switch
*/
#switch
{
border-style: none;
background-color: transparent;
}

#switch::indicator
{
border-style: none;
background-color: transparent;
width: 40px;
height: 19px;
}

#switch::indicator:checked
{
image: url(:/images/themed/light/switch_on.svg); /*replaceThemeToken*/
}

#switch::indicator:checked:hover
{
image: url(:/images/themed/light/switch_on_hover.svg); /*replaceThemeToken*/
}

#switch::indicator:checked:pressed
{
image: url(:/images/themed/light/switch_on_pressed.svg); /*replaceThemeToken*/
}

#switch::indicator:unchecked
{
image: url(:/images/themed/light/switch_off.svg); /*replaceThemeToken*/
}

#switch::indicator:unchecked:hover
{
image: url(:/images/themed/light/switch_off_hover.svg); /*replaceThemeToken*/
}

#switch::indicator:unchecked:pressed
{
image: url(:/images/themed/light/switch_off_pressed.svg); /*replaceThemeToken*/
}

/*
    PasswordLineEdit
*/
PasswordLineEdit
{
qproperty-eyeRevealImage: url(:/images/themed/light/eye_default.svg); /*replaceThemeToken*/
qproperty-eyeRevealDisabledImage: url(:/images/themed/light/eye_disabled.svg); /*replaceThemeToken*/
qproperty-eyeClosedImage: url(:/images/themed/light/eye-off_default.svg); /*replaceThemeToken*/
qproperty-eyeClosedDisabledImage: url(:/images/themed/light/eye-off_disabled.svg); /*replaceThemeToken*/
}
