#include <windows.h>

VS_VERSION_INFO     VERSIONINFO
FILEVERSION         3, 5, 8, 0
PRODUCTVERSION      3, 5, 8, 0
FILEFLAGSMASK       0x3fL
FILEFLAGS           0
FILEOS              VOS_NT_WINDOWS32
FILETYPE            VFT_APP
FILESUBTYPE         VFT2_UNKNOWN
BEGIN
    BLOCK   "VarFileInfo"
    BEGIN
        VALUE   "Translation",  0x409,  1200
    END
    BLOCK   "StringFileInfo"
    BEGIN
        BLOCK   "040904b0"
        BEGIN
            VALUE   "CompanyName",      "Mega Limited\0"
            VALUE   "FileDescription",  "MEGAupdater\0"
            VALUE   "InternalName",     "MEGAupdater.exe\0"
            VALUE   "LegalCopyright",   "Mega Limited 2018\0"
            VALUE   "OriginalFilename", "MEGAupdater.exe\0"
            VALUE   "ProductName",      "MEGAsync\0"
            VALUE   "ProductVersion",   "3.5.8.0\0"
        END
    END
END

IDI_ICON1 ICON DISCARDABLE "app_ico.ico"
