[Desktop Entry]
Type=Service
Name=MEGAsync
X-KDE-ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;inode/directory;
X-KDE-Library=megasyncplugin

