3rdparty

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.deps
config.guess
config.status
config.sub
/configure
depcomp
install-sh
libmega.pc
libtool
ltmain.sh
missing
test-driver

aclocal.m4
stamp-h1
autom4te.cache
config.h.in
Makefile.in
